In [6]:
#4) Write a Python program to check if a number is positive, negative or zero
num = int(input("Enter a Number"))
if num > 0:
    print(f"{num} is a positive number")
elif num < 0:
    print(f"{num} is a negative number")
else:
    print(f"{num} is a zero")

Enter a Number 3

3 is a positive number

In [7]:
'''9)Write python program that swap two number with temp variable 
and without temp variable'''
a=6
b=9
print(a)
print(b)
a,b=b,a
print("After swap")
print(a)
print(b)
a=8
b=4
temp=''
print(a)
print(b)
temp=a
a=b
b=temp
print("after swap")
print(temp)
print(a)
print(b)

6
9
After swap
9
6
8
4
after swap
8
4
8

In [8]:
''' 10)Write a Python program to find whether a given number is even 
or odd, print out an appropriate message to the user'''
num = int(input("Enter a number"))
if num % 2 == 0:
    print(f"{num} is an even number")
else:
    print(f"{num} is an odd number")

Enter a number 4

4 is an even number

In [4]:
'''11)Write a Python program to test whether a passed letter is a vowel 
or not'''
vowel = ['a','e','i','o','u','A','E','I','O','U']
letter = input("Enter a letter")
if letter in vowel:
    print("letter is vowel")
else:
    print("letter is consonant")

Enter a letter e

letter is vowel

In [3]:
'''5)Write a Python program to get the Factorial number of given numbers'''
num = int(input("Enter a number"))
factorial = 1
if num < 0 :
    print("factorial for negative number is not valid")
elif num == 0:
    print("factorial for 0 is 1")
else:
    for i in range(num):
        factorial = factorial*(i+1)
    print(f"The factorial of{num} is {factorial}")

Enter a number 5

The factorial of5 is 120

In [6]:
'''6)Write a Python program to get the Fibonacci series of given range'''
num = int(input("Enter a number"))
n1 = 0
n2 = 1
print(n1)
print(n2)
n=''
for i in range(num):
    n = n2 + n1
    n1 = n2
    n2= n
    print(n)

Enter a number 6

0
1
1
2
3
5
8
13

In [26]:
'''12)Write a Python program to sum of three given integers. However, if 
two values are equal sum will be zero'''
a= int(input("enter a number"))
b= int(input("enter a number2"))
c= int(input("enter a number3"))
if a == b or a == c or b ==c:
    print("two values are equal sum will be zero")
else:
    print(a+b+c)

enter a number 3
enter a number2 2
enter a number3 1

6

In [30]:
'''13) Write a Python program that will return true if the two given 
integer values are equal or their sum or difference is 5.'''
a = int(input("enter a num1"))
b = int(input("enter a num2"))
if a == b or (a-b) == 5 or (a+b) == 5:
    print("true")
else:
    print("false")

enter a num1 2
enter a num2 3

true

In [35]:
'''14)Write a python program to sum of the first n positive integers'''
n = int(input("Enter a number"))
result = 0
for i in range(n+1):
    result =  result + i
print(result)

Enter a number 6

21

In [36]:
'''15)Write a Python program to calculate the length of a string'''
a = input("enter a word")
length = len(a)
print(length)

enter a word hello

5

In [42]:
'''16) Write a Python program to count the number of characters 
(character frequency) in a string'''
a = input("Enter a word")
freq = []
alp = []
for char in a:
    if char not in alp:
        alp.append(char)
        freq.append((char,a.count(char)))
print(freq)

Enter a word goo

[('g', 1), ('o', 2)]

In [47]:
'''18) Write a Python program to count occurrences of a substring in a string'''
string = "icespy icespy"
sub = "spy"
count = string.count(sub)
print(count)

2

In [49]:
'''19)Write a Python program to count the occurrences of each word in a given sentence'''
sentence = input("Enter a string")
words = sentence.split()
word_count=[]
freq=[]
for char in words:
    if char not in word_count:
        word_count.append(char)
        freq.append((char,words.count(char)))
print(freq)

Enter a string my name is neha and my friend name is shreya

[('my', 2), ('name', 2), ('is', 2), ('neha', 1), ('and', 1), ('friend', 1), ('shreya', 1)]

In [35]:
'''27)) Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [
1]? '''
list1 = [2,33,222,14,25]
list1[-1]
''' from reverse index it will give the value'''

25

In [51]:
'''29)Write a Python function to get the largest number, smallest num 
and sum of all from a list'''
li= [2,4,7,88,45,345,556]
large = li[0]
small = li[0]
total = 0
for i in li:
    if i > large:
        large = i
    if i < small:
        small = i
    total = total + i
print(large)
print(small)
print(total)

556
2
1047

In [56]:
'''33)Write a Python program to check a list is empty or not'''
li = []
if len(li) == 0:
    print("List is empty")
else:
    print("list is not empty")

List is empty

In [57]:
'''32) Write a Python program to remove duplicates from a list.'''
li = [2,2,33,55,78,44,99,20,44,33]
unique = []
for i in li:
    if i not in unique:
        unique.append(i)
print(unique)

[2, 33, 55, 78, 44, 99, 20]

In [67]:
'''34) Write a Python function that takes two lists and returns true if they 
have at least one common member'''
def member(list1,list2):
    
    for i in list1:
        if i in list2:
            return True
        else:
            return False

True

In [68]:
li = [2,6,7,22,33]
li2 = [4,24,2,22]
res = member(li,li2)
print(res)

True

In [8]:
'''35)Write a Python program to generate and print a list of first and last 5 
elements where the values are square of numbers between 1 and 30'''
li=[]
for i in range(1,31):
    square = i **2
    li.append(square)
print(li[:5])
print(li[-5:])

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

In [14]:
'''36)Write a Python function that takes a list and returns a new list with 
unique elements of the first list'''
def unique(list1):
    new = []
    for i in list1:
        if i not in new:
            new.append(i)
    return new

In [15]:
li = [1,1,2,2,3,4]
result = unique(li)
print(result)

[1, 2, 3, 4]

In [19]:
'''37) Write a Python program to convert a list of characters into a string.'''
li = ['m','a','n','g','o']
string = ''
for char in li:
    string = string + char
print(string)

mango

In [21]:
'''38) Write a Python program to select an item randomly from a list'''
import random
li = [2,4,5,6,7,8]
random.choice(li)

8

In [47]:
'''39)Write a Python program to find the second smallest number in a list'''
li = [1,3,44,55,65,234]
print(li)
small = min(li)
print(small)
small_oc = []
for i in li:
    if i != small:
        small_oc.append(i)
print(small_oc)
second_small = min(small_oc)
print(second_small)

[1, 3, 44, 55, 65, 234]
1
[3, 44, 55, 65, 234]
3

In [40]:
'''40) Write a Python program to get unique values from a list'''
li = [2,3,44,5,2,55,44,6,47,3]
unq=list(set(li))
print(unq)

[2, 3, 5, 6, 44, 47, 55]

In [48]:
'''41)Write a Python program to check whether a list contains a sub list'''
li = [2,3,4,5,6,7,9]
sub = [3,4,5]
for i in li:
    if i in sub:
        print("present")
    else:
        print("absent")

absent
present
present
present
absent
absent
absent

In [58]:
'''42) Write a Python program to split a list into different variables'''
li = [2,3,4,"cherry",12.4]
a,b,c,d,e = li
print(a,b,c,d,e)

2 3 4 cherry 12.4

NoneType

In [57]:
'''44) Write a Python program to create a tuple with different data types'''
tup = ("cherry",2,4,12.5,[4,6,7],(3,4),{4,5},{"hello":"bye"})
print(tup)
for i in tup:
    print(i,":",type(i))

('cherry', 2, 4, 12.5, [4, 6, 7], (3, 4), {4, 5}, {'hello': 'bye'})
cherry : <class 'str'>
2 : <class 'int'>
4 : <class 'int'>
12.5 : <class 'float'>
[4, 6, 7] : <class 'list'>
(3, 4) : <class 'tuple'>
{4, 5} : <class 'set'>
{'hello': 'bye'} : <class 'dict'>

In [69]:
'''45) Write a Python program to unzip a list of tuples into individual lists'''
li = [(1,2,3),(4,5,6),(7,8,9),('a','b','c')]
a,b,c,d = li
print(a)
print(b)
print(c)
print(d)
la = list(a)
lb=list(b)
lc=list(c)
ld=list(d)
print(la,lb,lc,ld)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
('a', 'b', 'c')
[1, 2, 3] [4, 5, 6] [7, 8, 9] ['a', 'b', 'c']

In [78]:
'''46)Write a Python program to convert a list of tuples into a dictionary'''
tup = ((1,"mango"),(2,"lime"),(3,"pie"),(4,"papaya"))
d = dict(tup)
print(d)

{1: 'mango', 2: 'lime', 3: 'pie', 4: 'papaya'}

In [80]:
'''47) How will you create a dictionary using tuples in python'''
tup = ((1,2,3),("hello","bye","hii"))
key = tup[0]
value = tup[1]
dictionary ={}
for i in range(len(key)):
    dictionary[key[i]] = value[i]
print(dictionary)

{1: 'hello', 2: 'bye', 3: 'hii'}

In [97]:
'''48)Write a Python script to sort (ascending and descending) a 
dictionary by value.'''
dictionary = {"math":45,"english":48,"science":40,"AI":39}
res = list(dictionary.items())
res.sort()
res

[('AI', 39), ('english', 48), ('math', 45), ('science', 40)]

In [102]:
'''49)Write a Python script to concatenate following dictionaries to create 
a new one'''
fruits = {"name":"apple"}
vegie = {"sour":"lemon"}
merge ={"fruits":fruits,"vegie":vegie}
print(merge)
new ={}
for i in (fruits,vegie):
    new.update(i)
print(new)

{'fruits': {'name': 'apple'}, 'vegie': {'sour': 'lemon'}}
{'name': 'apple', 'sour': 'lemon'}

In [103]:
'''50)Write a Python script to check if a given key already exists in a 
dictionary.'''
month = {"jan":31,"feb":29,"march":31,"april":30}
if "feb" in month:
    print("yes this key is present")
else:
    print("no this key is not present")

yes this key is present

In [107]:
'''52) How Do You Check the Presence of a Key in A Dictionary'''
dictionary = {"name":"payal","age":23,"gender":"female"}
dictionary.keys()

dict_keys(['name', 'age', 'gender'])

In [108]:
'''53) Write a Python script to print a dictionary where the keys are 
numbers between 1 and 15.'''
num = {}
for i in range(1,16):
    num[i] = i
print(num)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15}

In [13]:
'''54)Write a Python program to check multiple keys exists in a dictionary'''
month = {"jan":31,"feb":29,"march":31,"april":30}
key = month.keys()
key
if month.keys() >= key:
    print("all keys present")
else:
    print("not present")

all keys present

In [47]:
'''55)Write a Python script to merge two Python dictionaries'''
names1 = {"name":"siya","age":32}
name2 = {"name":"riya","des":"HR","pay":3.5}
merge = names1 | name2
print(merge)

{'name': 'riya', 'age': 32, 'des': 'HR', 'pay': 3.5}

In [17]:
'''56) Write a Python program to map two lists into a dictionary '''
key = ["fruit","name","city"]
value= ["apple","anil","japan"]
new = {}
for k,v in zip(key,value):
    new[k] = v
print(new)

{'fruit': 'apple', 'name': 'anil', 'city': 'japan'}

In [20]:
'''57)Write a Python program to find the highest 3 values in a dictionary'''
dictionary = {1:45,2:56,3:89,7:67,5:53}
high = dict(sorted(dictionary.items(),key=lambda item:item[1],reverse = True)[:3])
print(high)

{3: 89, 7: 67, 2: 56}

In [21]:
'''59)Write a Python program to create a dictionary from a string. 
Note: Track the count of the letters from the string. '''
string = "my name is neha"
count = {}
for char in string:
    if char in count:
        count[char] +=1
    else:
        count[char] = 1
print(count)

{'m': 2, 'y': 1, ' ': 3, 'n': 2, 'a': 2, 'e': 2, 'i': 1, 's': 1, 'h': 1}

In [46]:
'''61) Write a Python function to calculate the factorial of a number (a 
nonnegative integer) '''
def factorial(number):
    factorial = 1
    if number < 1:
        print("invalid number")
    elif number == 0:
        print("the factorial of 0 is 1")
    else:
        for i in range(1,number+1):
            factorial = factorial * (i)
        return factorial

num = int(input("enter a number"))
print(f"factorial of {num} is {factorial(num)}")

enter a number 5

factorial of 5 is 120

In [23]:
'''62) Write a Python function to check whether a number is in a given range '''
def range_number(num,start,end):
    return start <= num <= end

res = range_number(2,1,9)
print(res)

True

In [22]:
'''63)Write a Python function to check whether a number is perfect or not.'''
def perfect(number):
    sum = 0
    for i in range(1,number):
        if number % i == 0:
            sum = sum + i
    return sum == number
num = int(input("Enter a number"))
if perfect(num):
    print(f"{num} is a perfect number ")
else:
    print(f"{num} is not a perfect number")

Enter a number 5

5 is not a perfect number

In [25]:
'''64) Write a Python function that checks whether a passed string is 
palindrome or not '''
def palindrome(s):
    return s == s[::-1]
r = palindrome("hiih")
print(r)

True

In [26]:
'''72)Write a Python program to read an entire text file.'''
file = open("text_file.txt","r")
content = file.read()
print(content)
file.close

Hello my name is Neha
I am learning Data analytics
I have joined Tops Tech
I have learned Intro to Python, NumPy and Pandas

In [27]:
'''73)Write a Python program to append text to a file and display the text.'''
file = open("text_file.txt","a")
file.writelines("lecture is at 1 to 2 \n online lecture also there")
file.close
file = open("text_file.txt","r")
con = file.read()
print(con)
file.close

Hello my name is Neha
I am learning Data analytics
I have joined Tops Tech
I have learned Intro to Python, NumPy and Pandas
lecture is at 1 to 2
 online lecture also there

In [38]:
'''74)Write a Python program to read first n lines of a file.'''
n = 2
file = open("text_file.txt","r")
lines = file.readlines()
for line in lines[:n]:
    print(line.strip())


file.close

Hello my name is Neha
I am learning Data analytics
lecture is at 1 to 2
online lecture also there

In [39]:
'''75)Write a Python program to read last n lines of a file'''
n = 2
file = open("text_file.txt","r")
lines = file.readlines()
for line in lines[-n:]:
    print(line.strip())
file.close

lecture is at 1 to 2
online lecture also there

In [40]:
'''76)Write a Python program to read a file line by line and store it into a list'''
file = open("text_file.txt","r")
lines = file.readlines()
print(lines)
type(lines)

['Hello my name is Neha\n', 'I am learning Data analytics\n', 'I have joined Tops Tech\n', 'I have learned Intro to Python, NumPy and Pandas\n', 'lecture is at 1 to 2 \n', ' online lecture also there']

list

In [41]:
'''77)Write a Python program to read a file line by line store it into a variable'''
file = open("text_file.txt","r")
line = file.readlines()
print(line)

['Hello my name is Neha\n', 'I am learning Data analytics\n', 'I have joined Tops Tech\n', 'I have learned Intro to Python, NumPy and Pandas\n', 'lecture is at 1 to 2 \n', ' online lecture also there']

In [43]:
'''78)Write a python program to find the longest words. '''
string = "laptop can be opend for a longtime"
word = string.split()
print(word)
longest_word = ""
for char in word:
    if len(char) > len(longest_word):
        longest_word = char
print(longest_word)

['laptop', 'can', 'be', 'opend', 'for', 'a', 'longtime']
longtime

In [46]:
'''79)Write a Python program to count the number of lines in a text file.'''
file = open("text_file.txt","r")
lines = file.readlines()
print(len(lines))

6

In [52]:
'''80) Write a Python program to count the frequency of words in a file'''
file = open("text_file.txt","r")
lines = file.readlines()
w = []
for line in lines:
    w.extend(line.split())
#print(w)
words_freq = {}
for word in w:
    if word in words_freq:
        words_freq[word] +=1
    else:
        words_freq[word] = 1
print(words_freq)
file.close

{'Hello': 1, 'my': 1, 'name': 1, 'is': 2, 'Neha': 1, 'I': 3, 'am': 1, 'learning': 1, 'Data': 1, 'analytics': 1, 'have': 2, 'joined': 1, 'Tops': 1, 'Tech': 1, 'learned': 1, 'Intro': 1, 'to': 2, 'Python,': 1, 'NumPy': 1, 'and': 1, 'Pandas': 1, 'lecture': 2, 'at': 1, '1': 1, '2': 1, 'online': 1, 'also': 1, 'there': 1}

In [61]:
'''81) Write a Python program to write a list to a file. '''
list1 = ["python","numpy","sql","data","analysis"]
file = open("text_file.txt","a")
for i in list1:
    file.write(i + "\t")

file = open("text_file.txt","r")
content = file.read()
print(content)
file.close

Hello my name is Neha
I am learning Data analytics
I have joined Tops Tech
I have learned Intro to Python, NumPy and Pandas
lecture is at 1 to 2
 online lecture also there	python	numpy	sql	data	analysis

In [63]:
'''82)Write a Python program to copy the contents of a file to another file.'''
file = open("text_file.txt","r")
file2 = open("copy_text_file.txt","w")
for line in file:
    file2.write(line)
file2 = open("copy_text_file.txt","r")
con = file2.read()
print(con)
file.close

Hello my name is Neha
I am learning Data analytics
I have joined Tops Tech
I have learned Intro to Python, NumPy and Pandas
lecture is at 1 to 2
 online lecture also there	python	numpy	sql	data	analysis

In [34]:
'''89) How Do You Handle Exceptions with Try/Except/Finally in Python? 
Explain with coding snippets.'''
try:
    a=int(input("enter the value"))
    b=int(input("enter the value"))
    c=a*b
except Exception as e:
    print(f"error occured {e}")
else:
    print(c)
finally:
    print("done")

''' finally:- always gets excecuted
try:- write the code which we want to excecute main code is written in try block
except:- if any error occurs in the try block it will be catched by the except block it will raise the error without doing any crash
else:- if their is no exception in try block'''

enter the value 4
enter the value r

error occured invalid literal for int() with base 10: 'r'
done

In [31]:
'''90)Write python program that user to enter only odd numbers, else 
will raise an exception'''
try:
    num = int(input("enter a number"))
    if num % 2 == 0:
        raise ValueError("please enter an odd number")
    print(f"{num} is an odd number")
except ValueError as e:
    print(e)

enter a number 5

5 is an odd number